<?xml version="1.0" encoding="UTF-8"?>
<server description="MQ-connected server">

    <!-- 必要な機能 -->
    <featureManager>
        <feature>jakartaee-9.1</feature>      <!-- プラットフォーム -->
        <feature>messaging-3.0</feature>      <!-- 汎用 RA サポート機能 --> 
        <feature>jndi-1.0</feature>           <!-- JNDI 参照を使う場合に備え -->
        <feature>monitor-1.0</feature>
    </featureManager>
    
    <!-- 共有リソース -->
    <variable name="shared.resource.dir" value="/opt/ol/wlp/usr/shared/resources"/>

    <!-- MQ クライアント JAR -->
    <library id="mqClientLib">
        <fileset dir="${shared.resource.dir}/mq" includes="com.ibm.mq.allclient*.jar"/>
    </library>

    <!-- IBM MQ リソースアダプター -->
    <resourceAdapter id="wmqJmsRA"
                     location="${shared.resource.dir}/mq/wmq.jakarta.jmsra.rar"> 
        <classloader commonLibraryRef="mqClientLib"/>
    </resourceAdapter>

    <!-- コネクション・ファクトリ -->
    <jmsConnectionFactory id="wmqCF"
                          jndiName="jms/wmqCF"
                          connectionManagerRef="ConMgr">
        <properties.wmqJmsRA
            channel="DEV.APP.SVRCONN"
            hostName="qm1-ibm-mq"
            port="1414"
            queueManager="QM1"
            transportType="CLIENT"
            userName="app"
            password="passw0rd"/>
    </jmsConnectionFactory>

    <connectionManager id="ConMgr" maxPoolSize="10"/>

    <!-- キュー定義 -->
    <jmsQueue id="queue1" jndiName="jms/queue1">
        <properties.wmqJmsRA
            baseQueueManagerName="QM1"
            baseQueueName="DEV.QUEUE.1"/>
    </jmsQueue>

    <jmsQueue id="remote1" jndiName="jms/remote1">
        <properties.wmqJmsRA
            baseQueueManagerName="QM1"
            baseQueueName="REMOTE.Q.1"/>
    </jmsQueue>

    <!-- (任意) ユーザレジストリ -->
    <basicRegistry id="basic" realm="BasicRealm"/>

    <!-- HTTP ポート -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"          
                  httpPort="9080"
                  httpsPort="9445"/>

    <!-- WAR を /mqapp で公開 -->
    <webApplication contextRoot="/mqapp" location="mqapp.war"/>

    <!-- WAR / EAR 自動展開 -->
    <applicationManager autoExpand="true"/>
</server>